.shawbox-ui-caption {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0;

  .shawbox-ui-caption-line {
    .shawbox-ui-caption-content {
      position: relative;

      .shawbox-ui-caption-content::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #e0e0e0;
        z-index: -1;
      }
    }
  }

  .shawbox-ui-caption-sign {
    display: inline-block;
    width: 3px;
    height: 12px;
    background: #1677ff;
    margin-right: 12px;

    .shawbox-ui-caption-sign-square {
      width: 8px;
      height: 8px;
    }

    .shawbox-ui-caption-sign-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  .shawbox-ui-caption-content {
    flex: 1;
    font-weight: 600;

    .shawbox-ui-caption-content-inner {
      padding-right: 16px;
    }
  }

  .shawbox-ui-caption-actions {
    padding-left: 16px;
  }
}
