.preview-container {
  margin: 2.5rem 0;
}

.preview-container > .preview {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.preview-container > .code-block {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .preview-container {
    margin: 2rem 0;
  }

  .preview-container > .preview {
    margin-bottom: 1rem;
  }
}
